body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

#board {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  margin: 100px;
}

#top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-basis: 33%;
  align-items: center;
  border-bottom: solid black 1px;
}

#board-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-basis: 33%;
  align-items: center;
}

#gobbler-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
  width: 200px;
}

#small-gobbler-container {
  width: 20px;
  height: 60px;
}

#medium-gobbler-container {
  width: 40px;
  height: 80px;
}

#large-gobbler-container {
  width: 60px;
  height: 100px;
}

#gobbler {
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0px auto;
  align-items: center;
}

#button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#button {
  font-size: small
}

#non-right-empty-cell {
  border-right: solid black 1px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#empty-cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#one-cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

#non-right-one-cell {
  border-right: solid black 1px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

#two-cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
}

#non-right-two-cell {
  border-right: solid black 1px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
}
